@model Check_my_Box.Areas.DBManagement.Models.ItemSearchableValue

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ItemSearchableValue</legend>

    <div class="display-label">PlaceHolder</div>
    <div class="display-field">@Model.PlaceHolder</div>

    <div class="display-label">ItemSearchable</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.ItemSearchable).ToString()</div>

    <div class="display-label">SearchableElement</div>
    <div class="display-field">@(Model.SearchableElement == null ? "None" : Model.SearchableElement.Name)</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


