<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="4.1.10311.0" />
  <package id="T4Scaffolding" version="0.9.9" />
  <package id="MvcScaffolding" version="0.9.9" />
  <package id="EntityFramework" version="4.1.10331.0" />
  <package id="Glimpse" version="0.79" />
  <package id="Check_My_Box_Packages" version="1.1.0.3" />
</packages>