@{
    ViewBag.Title = "Home Page";
}

 <div class="post">
                <h2 class="title">
                   @ViewBag.Message
                </h2>
                <p class="byline">
                    <small>Posted by FreeCssTemplates</small></p>
                <div class="entry">
                    <p>
                        <strong>Cellulose </strong>is a free template from <a href="http://www.freecsstemplates.org/">Free CSS Templates</a> released under a <a href="http://creativecommons.org/licenses/by/3.0/">
                            Creative Commons Attribution</a>. You're free to use this template for both commercial or personal use. I only ask that you link back to <a href="http://www.freecsstemplates.org/">
                                my site</a> in some way. Enjoy :)</p>
                </div>
                <div class="meta">
                    <p class="links">
                        <a href="#" class="comments">Comments (32)</a> &nbsp;&bull;&nbsp;&nbsp; <a href="#" class="more">Read full post &raquo;</a></p>
                </div>

                <div class="meta">
                    <p class="links">
                        To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.</p>
                </div>
            </div>
          