@model Check_my_Box.Areas.DBManagement.Models.ItemText

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ItemText</legend>

    <div class="display-label">ItemName</div>
    <div class="display-field">@Model.ItemName</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


