*.resharper
*.ReSharper.user
_ReSharper.*/
*.TeamCity.user
*.Publish.xml
[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
*TestResults/
*.testsettings
*/Plugins/
*.suo
*.sln.cache
*csproj.user
*ds_store
*.vspscc
*.cache
*~
*.swp
_[Ss]vn
.[Ss]vn
*Thumbs.db
Path
*.gpState
*.csproj.vs10x
*.zip
*.generated.cs*.zipx
._*
*.log
Publish
/WebApp/koos.xml
*~1.*
*.gpState
*.Moles.dll
*.vsmdi
*web.original.config
*web.config
/telepreneur/WebApp/Web.config
/WebApp/VoxWebApp.csproj.ReSharper
/telepreneur/WebApp/Web.config
/telepreneur/WebApp/Content/Cms/@SitePages/Default/@Debug
/telepreneur/WebApp/Content/Cms/@SiteTypes/DealerBase/MemberZone.blank.ascx
*SampleWebApp/Plugins/
*WebApp/Plugins/
*voxzal.mvcweb/Plugins
*.vsmdi
*.sdf
telepreneur/WebApp/Plugins/
telepreneur-voxzal/voxzal.mvcweb/Plugins/
telepreneur-mvcmefplugins/SampleWebApp/Plugins/
