@model Check_my_Box.Areas.DBManagement.Models.UserItemList

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    User
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.UserId, ((IEnumerable<Check_my_Box.Areas.DBManagement.Models.User>)ViewBag.PossibleUsers).Select(option => new SelectListItem {
        Text = (option == null ? "None" : option.Name), 
        Value = option.UserId.ToString(),
        Selected = (Model != null) && (option.UserId == Model.UserId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.UserId)
</div>
