@model Check_my_Box.Areas.DBManagement.Models.ItemValue

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ItemValue</legend>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ItemValueId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


