@model Check_my_Box.Areas.DBManagement.Models.ItemSearchableValue
@{
    ViewBag.Title = "ItemSearchableValue";
}
<div class="editor-label">
    @Html.LabelFor(model => model.ItemSearchable.ItemName)
</div>
<div class="editor-label">
</div>
