@model NoStressWedding.Models.ItemTextValue
<div class="editor-label">
                @Html.LabelFor(model => model.ItemText.ItemName)
            </div>
            <div class="editor-label">
                @Html.TextBox(model => model.ItemValue)
            </div>
